@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

/* General */

body{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background: #000;
    font-family: "PT Sans", sans-serif;
}

main {
    box-sizing: border-box;

    background-image: url("/images/MainScreen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    box-sizing: border-box;
    
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    margin: 0;

    list-style: none;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

h1, h2, h3, h4, h5 ,h6 {
    margin: 0;

    font-weight: 500;
}

p{
    margin: 0;
    
    line-height: 24px
}

label {
    margin-bottom: 5px;

    font-size: 14px;
    font-weight: bold;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 140px;
    height: 44px;
    background-color: #000;

    transition: opacity 0.3s;
}

.btn__big {
    width: 300px;
    height: 44px;
}

.btn:hover {
    opacity: 0.8;
}

/* header */

.header {
    padding: 22px 0;

    background: #000;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav a {
    font-size: 16px;
    transition: opacity 0.3s;
}

.header__nav a:hover {
    opacity: 0.7;
}

.header__list{
    display: flex;
    gap: 30px;
}

.login {
    display: flex;
    align-items: center;
    gap: 8px;
    transition: opacity 0.3s;
}

.login::before{
    content: url("/images/login.svg");
    height: 18px;
}

.login:hover {
    opacity: 0.7;
}

.login__img {
    padding: 0 5px 0 0;
}

/* logo section */

.logo .container{
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Advantages section */

.advantages .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantage {
    width: 300px;

    text-align: center;
}

.Romb__img {
    margin: 20px;
}

.advantage__title {
    font-size: 30px;
    line-height: 42px;
}

.advantage__desk {
    font-size: 14px;
    line-height: 24px;
}

/* News and Photo */

.news-photo {
    margin-top: 80px;
}

.news-photo .container {
    padding: 60px 60px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: #000;
}

.news {
    width: 390px;
}

.news__title{
    margin-bottom: 10px;

    font-size: 30px;
}

.news__desk {
    margin-bottom: 10px;

    font-size: 14px;
}

.news__date {
    margin-bottom: 30px;

    font-size: 14px;
}

.photos__title {
    margin-bottom: 30px;

    font-size: 30px;
}

.galary__img {
    border: 5px solid rgb(186, 185, 185);
}

.btn__line {
    margin-top: 26px;

    display: flex;
    gap: 20px;
}

/* Info and Registration */

.info-registration {
    margin: 80px 0;
}

.info-registration .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 60px;

    color: #000;
}

.info {
    max-width: 390px;
}

.info__title{
    font-size: 30px;

    margin-bottom: 30px;
}

.info__address {
    font-size: 14px;

    margin-bottom: 30px;
}

.info__worktime {
    font-size: 14px;

    margin-bottom: 30px;
}

.registration {
    max-width: 300px;
}

.registration__title{
    font-size: 30px;

    margin-bottom: 30px;
}

.registration__desk {
    font-size: 14px;

    margin-bottom: 10px;
}

.registration__form {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    margin-bottom: 20px;
}

.custom-input {
    box-sizing: border-box;

    padding: 10px;

    width: 140px;
    height: 43px;
    border: 2px solid black;
    background-color: #f8f8f8;
    color: #333;
}

.registration__form__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* footer */

.footer {
    padding: 40px;

    font-size: 14px;
    background-color:#252525;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    max-width: 390px;
    font-size: 14px;
}

.footer__socials {
    max-width: 390px;
}

.footer__development {
    max-width: 390px;
}

.footer__title {
    padding-left: 10px;
}

.footer__inner-list {
    margin-top: 14px;

    display: flex;
    justify-content: space-between;
}

.footer_list-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 43px;
    background-color: #000;
}

@media(max-width: 950px) {
    .header .container{
        justify-content: space-evenly;
    }

    .advantages .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media(max-width: 850px) {
    .news-photo .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("/images/backgroundAdaptive.jpg");
    }

    .news, .photos {
        width: 100%;
        max-width: 390px;
        text-align: center;
    }

    .photos {
        padding-top: 40px;
    }

    .btn__line {
        justify-content: center;
    }

    .news .btn {
        margin: auto;
    }

    .info-registration .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("/images/backgroundAdaptive.jpg");
    }

    .info, .registration {
        width: 100%;
        max-width: 390px;
        text-align: center;
    }

    .registration {
        padding-top: 40px;
    }

    .btn__big {
        margin: auto;
    }

    .footer__info {
        max-width: 200px;
    }

    .footer__socials {
        max-width: 200px;
    }

    .footer__development {
        max-width: 200px;
    }
}

@media (max-width: 650px) {
    
    .header .container {
        flex-direction: column;
        text-align: center;
    }

    .header__list {
        flex-direction: column;
        gap: 20px;
    }

    .login {
        padding-top: 20px;
        width: 107px;
        justify-content: center;
    }

    .galary__img {
        width: 100%;
        height: auto;    
    }
}

@media (max-width: 550px) {
    .footer .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 30px;
    }

    .footer__title {
        padding-left: 0;
    }
}

@media (max-width: 420px) {
    
    .logo__img {
        width: 100%;
        height: auto;   
    }

    .registration__form {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .btn__big {
        width: 100%;
    }
}